<main>
    <img id="sadFaceImg"
        src="https://raw.githubusercontent.com/Shtekata/Utilities/eb0d38c29039fe062c5eb6f486611213a7193930/animal-faces-icons/svg/012-gorilla.svg"
        alt="sad face" width="300" />
    <h1>404</h1>
    <h2>Page not found</h2>
    {{#if err}}
    <h4>{{err.msg}}</h4>
    {{/if}}
    <style>button{background-color:#007BFF}</style>
    <button><a href="/">Back</a></button>
</main>